html,
body {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.gallery img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 250px;
    grid-gap: 10px;
    margin: 15px;
}

.item1 {
    grid-column: span 1;
    grid-row: span 1;
    position: relative;
}

.text1 {
    position: absolute;
    padding: 15px;
    bottom: 0;
    color: #fff;
    width: 100%;
}

.item2 {
    position: relative;
    grid-column: span 2;
    grid-row: span 2;
}

.text2 {
    position: absolute;
    padding: 15px;
    bottom: 0;
    color: #fff;
    width: 100%;
}

.item3 {
    grid-column: span 1;
    grid-row: span 2;
    position: relative;
}

.text3 {
    position: absolute;
    padding: 15px;
    bottom: 0;
    color: #fff;
    width: 100%;
}

.item4 {
    grid-column: span 1;
    grid-row: span 1;
    position: relative;
    
}

.text4 {
    position: absolute;
    padding: 15px;
    bottom: 0;
    color: #fff;
    width: 100%;
}

.item5 {
    grid-column: span 2;
    grid-row: span 1;
    position: relative;
}

.text5 {
    position: absolute;
    padding: 15px;
    bottom: 0;
    color: #fff;
    width: 100%;
}


.item6 {
    grid-column: span 1;
    grid-row: span 1;
    position: relative;
}

.text6 {
    position: absolute;
    padding: 15px;
    bottom: 0;
    color: #fff;
    width: 100%;
}

.item7 {
    grid-column: span 1;
    grid-row: span 1;
    position: relative;
}

.text7 {
    position: absolute;
    padding: 15px;
    bottom: 0;
    color: #fff;
    width: 100%;
}

a {
    font-size: 20px;
    color: white;
    padding: 0;
}
h3 {
    font-size: 30px;
    color: white;
     margin: 15px 0 30px;
   
}
.text{
   display: flex;
    flex-direction: column;
   align-items: center
  }
.text p{
  margin: 0;
  }

@media screen and (max-width:760px) {
    .gallery {
        grid-template-columns: 1fr
    }

    .item1 {
        grid-column: span 1;
        grid-row: span 2;
    }

    .item2 {
        grid-column: span 1;
        grid-row: span 2;
    }

    .item3 {
        grid-column: span 1;
        grid-row: span 2;
    }

    .item4 {
        grid-column: span 1;
        grid-row: span 2;
    }

    .item5 {
        grid-column: span 1;
        grid-row: span 2;
    }

    .item6 {
        grid-column: span 1;
        grid-row: span 2;
    }
     .item7 {
        grid-column: span 1;
        grid-row: span 2;
    }
}
